$bg-blue-dark:     hsl(220, 40%, 10%);
$bg-blue-dim:      hsl(220, 40%, 15%);
$bg-blue-mid-dim:  hsl(220, 40%, 20%);
$bg-blue-mid-light:hsl(220, 40%, 25%);
$bg-blue-light:    hsl(220, 40%, 30%);
$bg-blue-bright:   hsl(220, 40%, 35%);
$bg-blue-brighter: hsl(220, 40%, 40%);

$bg-overlay-dark: rgba(0, 0, 0, 0.5);
$bg-overlay-mid: rgba(0, 0, 0, 0.4);
$bg-overlay-light: rgba(0, 0, 0, 0.3);

$white-dark: hsl(0, 0%, 85%);
$white-light: hsl(0, 0%, 100%);

$grey-dark: hsl(0, 0%, 60%);
$grey-light: hsl(0, 0%, 72%);

$blue-1000: hsl(220, 70%, 25%);
$blue-900: hsl(220, 70%, 35%);  $purple-900: #42307D; $red-900: #7A1A1A; $green-900: #054F31;
$blue-800: hsl(220, 75%, 40%);  $purple-800: #53389E; $red-800: #912018; $green-800: #05603A;
$blue-700: hsl(220, 80%, 45%);  $purple-700: #6941C6; $red-700: #B42318; $green-700: #027A48;
$blue-600: hsl(220, 85%, 50%);  $purple-600: #7F56D9; $red-600: #D92D20; $green-600: #039855;
$blue-500: hsl(220, 90%, 55%);  $purple-500: #9E77ED; $red-500: #F04438; $green-500: #12B76A;
$blue-400: hsl(220, 95%, 60%);  $purple-400: #B692F6; $red-400: #F97066; $green-400: #32D583;
$blue-300: hsl(220, 100%, 70%); $purple-300: #D6BBFB; $red-300: #FDA29B; $green-300: #6CE9A6;
$blue-200: hsl(220, 100%, 80%); $purple-200: #E9D7FE; $red-200: #FECDCA; $green-200: #A6F4C5;
$blue-100: hsl(220, 100%, 90%); $purple-100: #F4EBFF; $red-100: #FEE4E2; $green-100: #D1FADF;
$blue-50:  hsl(220, 100%, 95%); $purple-50:  #F9F5FF; $red-50:  #FEF3F2; $green-50:  #ECFDF3;
$blue-25:  hsl(220, 100%, 98%); $purple-25:  #FCFAFF; $red-25:  #FFFBFA; $green-25:  #F6FEF9;

$w12: 100%    ; 
$w11: 91.6666%; 
$w10: 83.3333%; 
$w9:  75%     ; 
$w8:  66.6666%; 
$w7:  58.3333%; 
$w6:  50%     ; 
$w5:  41.6666%; 
$w4:  33.3333%; 
$w3:  25%     ; 
$w2:  16.6666%; 
$w1:  8.3333% ; 

$br-g: 12px;
$br-l: 9px;
$br-m: 6px;
$br-s: 3px;

@keyframes fade_in 
{
  from { opacity: 0; }
  to   { opacity: 1; }  
}

@keyframes fade_out 
{
  from { opacity: 1; }
  to   { opacity: 0; }  
}

@mixin anim_fade_in
{ animation: fade_in 0.15s forwards ease-in-out; }

@mixin anim_fade_out
{ animation: fade_out 0.15s forwards ease-in-out; }

@mixin transition
{ transition: all 0.1s ease-in-out; }