@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap");
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 580px;
  margin-inline: auto;
}
.form__affirmations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.form__affirmations .affirmation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-bottom: 2px solid #B2DDFF;
  text-align: center;
}
.form__affirmations .affirmation__header {
  font-size: 1.5rem;
  font-weight: 500;
  color: #194185;
}
.form__affirmations .affirmation__content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
  gap: 8px;
}
.form__affirmations .affirmation__label {
  display: grid;
  min-width: 128px;
  font-size: 1.2rem;
  font-weight: 600;
}
.form__affirmations .affirmation__label--negative {
  grid-column: 1;
  grid-row: 1;
  place-items: center left;
  color: #F04438;
  text-align: left;
}
.form__affirmations .affirmation__label--positive {
  grid-column: 3;
  grid-row: 1;
  place-items: center right;
  color: #12B76A;
  text-align: right;
}
.form__affirmations .affirmation__options {
  grid-column: 2;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.form__affirmations .affirmation__options .option {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.form__affirmations .affirmation__options .option:hover {
  border-width: 10px;
}
.form__affirmations .affirmation__options .option--selected {
  border-width: 16px;
}
.form__affirmations .affirmation__options .option--selected:hover {
  border-width: 16px;
}
.form__affirmations .affirmation__options .option--n1 {
  border-color: #FDA29B;
}
.form__affirmations .affirmation__options .option--n2 {
  border-color: #F97066;
}
.form__affirmations .affirmation__options .option--n3 {
  border-color: #F04438;
}
.form__affirmations .affirmation__options .option--neutral {
  border-color: #B2DDFF;
}
.form__affirmations .affirmation__options .option--p1 {
  border-color: #6CE9A6;
}
.form__affirmations .affirmation__options .option--p2 {
  border-color: #32D583;
}
.form__affirmations .affirmation__options .option--p3 {
  border-color: #12B76A;
}
.form__submit {
  width: 100%;
  padding: 8px;
  margin-top: 24px;
  border-radius: 3px;
  background-color: #1570EF;
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.1s ease-in-out;
}
.form__submit:hover {
  background-color: #175CD3;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100vw;
  height: 100dvh;
  background-color: #EFF8FF;
  animation: fade_in 0.15s forwards ease-in-out;
}
.login__welcome {
  width: 320px;
  padding: 16px;
  border-radius: 6px;
  color: #1849A9;
  background-color: #D1E9FF;
  text-align: center;
  font-weight: 600;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  width: 512px;
  height: 800px;
  padding-top: 64px;
  border-radius: 12px;
  color: #194185;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 35px rgba(25, 65, 133, 0.1098039216);
}
.login__logo {
  width: 480px;
  height: 348px;
}
.login__inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login__inputs .login__input {
  position: relative;
}
.login__inputs .fa-envelope, .login__inputs .fa-key {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.1rem;
}
.login__inputs input {
  display: block;
  width: 320px;
  padding: 12px 16px 12px 40px;
  border-radius: 6px;
  color: #194185;
  background-color: #EFF8FF;
  border: 3px solid #D1E9FF;
  cursor: text;
  transition: all 0.1s ease-in-out;
}
.login__inputs input::-moz-placeholder {
  color: #98b7ec;
}
.login__inputs input::placeholder {
  color: #98b7ec;
}
.login__inputs input:focus, .login__inputs input:hover {
  background-color: #D1E9FF;
}
.login__navigate {
  width: 320px;
  color: hsl(0, 0%, 60%);
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.login__navigate:hover {
  color: #194185;
}
.login__auth {
  width: 320px;
  padding: 12px 16px;
  border-radius: 6px;
  color: hsl(0, 0%, 100%);
  background-color: #175CD3;
  font-size: 1.2rem;
  transition: all 0.1s ease-in-out;
}
.login__auth:hover {
  background-color: #1570EF;
}
.login__background {
  display: grid;
  place-items: center;
  width: calc(100% - 420px);
  height: 100dvh;
}

@media screen and (max-width: 720px) {
  .login__form {
    width: 100vw;
  }
  .login__background {
    display: none;
  }
  .login input,
  .login__logo,
  .login__auth,
  .login__navigate {
    max-width: 280px;
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/***************************************************************************************************************/
/* global styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Montserrat", "Oxygen", "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

input, button {
  color: inherit;
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

/***************************************************************************************************************/
/* app */
.app {
  position: relative;
  width: 100dvw;
  min-height: 100dvh;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #F5FAFF;
  animation: ease-in-out 1s forwards fade_in;
}/*# sourceMappingURL=app.css.map */