@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap");
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.courses {
  margin-block: 128px 96px;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 580px;
  margin-top: 128px;
  margin-inline: auto;
}
.form__header {
  margin-bottom: 32px;
  color: hsl(214, 70%, 35%);
}
.form__affirmations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.form__affirmations .affirmation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-bottom: 2px solid hsl(214, 100%, 80%);
  text-align: center;
}
.form__affirmations .affirmation__header {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(214, 70%, 35%);
}
.form__affirmations .affirmation__content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
  gap: 8px;
}
.form__affirmations .affirmation__label {
  display: grid;
  min-width: 128px;
  font-size: 1.2rem;
  font-weight: 600;
}
.form__affirmations .affirmation__label--negative {
  grid-column: 1;
  grid-row: 1;
  place-items: center left;
  color: #F04438;
  text-align: left;
}
.form__affirmations .affirmation__label--positive {
  grid-column: 3;
  grid-row: 1;
  place-items: center right;
  color: #12B76A;
  text-align: right;
}
.form__affirmations .affirmation__options {
  grid-column: 2;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.form__affirmations .affirmation__options .option {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.form__affirmations .affirmation__options .option:hover {
  border-width: 10px;
}
.form__affirmations .affirmation__options .option--selected {
  border-width: 16px;
}
.form__affirmations .affirmation__options .option--selected:hover {
  border-width: 16px;
}
.form__affirmations .affirmation__options .option--n1 {
  border-color: #FDA29B;
}
.form__affirmations .affirmation__options .option--n2 {
  border-color: #F97066;
}
.form__affirmations .affirmation__options .option--n3 {
  border-color: #F04438;
}
.form__affirmations .affirmation__options .option--neutral {
  border-color: hsl(214, 100%, 80%);
}
.form__affirmations .affirmation__options .option--p1 {
  border-color: #6CE9A6;
}
.form__affirmations .affirmation__options .option--p2 {
  border-color: #32D583;
}
.form__affirmations .affirmation__options .option--p3 {
  border-color: #12B76A;
}
.form__submit {
  width: 100%;
  padding: 8px;
  margin-top: 24px;
  border-radius: 3px;
  background-color: hsl(214, 85%, 50%);
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.1s ease-in-out;
}
.form__submit:hover {
  background-color: hsl(214, 80%, 45%);
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  max-width: 1400px;
  margin-inline: auto;
  margin-block: 128px 96px;
  padding-inline: 48px;
}
.home__main {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.home__main__header {
  color: hsl(214, 85%, 50%);
  font-size: 3rem;
}
.home__main__desc {
  color: hsl(214, 70%, 25%);
  font-size: 1.8rem;
  font-weight: 500;
}
.home__about {
  grid-column: span 2;
  display: flex;
  gap: 24px;
  padding: 24px 96px 24px 24px;
  border-radius: 128px;
  background-color: hsl(214, 100%, 90%);
}
.home__about__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border-top-left-radius: 88px;
  border-bottom-left-radius: 88px;
  color: hsl(214, 85%, 50%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 2.5rem;
}
.home__about__text {
  font-size: 1.5rem;
}
.home__header {
  grid-column: span 2;
  padding-bottom: 8px;
  margin-top: 32px;
  border-bottom: 3px solid hsl(214, 70%, 35%);
  border-radius: 3px;
  color: hsl(214, 70%, 35%);
  text-align: center;
}
.home__cards {
  grid-column: span 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.home__cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 304px;
  padding: 16px;
  border-radius: 6px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(214, 70%, 35%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.home__cards .card:hover {
  background-color: hsl(214, 75%, 40%);
}
.home__cards .card__icon {
  font-size: 4rem;
}
.home__cards .card__header {
  font-size: 1.3rem;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__art {
    max-width: 480px;
  }
}
@media screen and (max-width: 768px) {
  .home__about {
    flex-direction: column;
    align-items: center;
    padding: 32px 32px 96px 32px;
  }
  .home__about__header {
    width: 100%;
    border-radius: 88px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .home {
    padding: 32px;
  }
  .home__main__header {
    font-size: 2rem;
  }
  .home__main__desc {
    font-size: 1.2rem;
  }
  .home__art {
    max-width: 320px;
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.job-page {
  max-width: 1200px;
  margin-block: 128px 96px;
  margin-inline: auto;
  padding-inline: 32px 48px;
}
.job-page__name {
  color: hsl(214, 70%, 25%);
  font-size: 4rem;
  font-weight: 800;
}
.job-page__desc {
  margin-bottom: 32px;
  font-size: 1.3rem;
  font-weight: 500;
}
.job-page__programs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}
.job-page__programs .program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}
.job-page__programs .program:hover > .program__content > .program__name {
  color: hsl(214, 90%, 55%);
}
.job-page__programs .program__content {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-inline: 12px;
}
.job-page__programs .program__name {
  color: hsl(214, 70%, 25%);
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}
.job-page__programs .program__progress {
  display: flex;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: hsl(214, 100%, 80%);
}
.job-page__programs .program__progress span {
  height: 100%;
  border-radius: 3px;
  background-color: hsl(214, 90%, 55%);
}
.job-page__programs .program__comp {
  width: 32px;
  color: hsl(214, 70%, 25%);
  font-weight: 600;
  font-size: 1rem;
}
.job-page .grids {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.job-page .grids .grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.job-page .grids .grid h2 {
  color: hsl(214, 70%, 35%);
  font-size: 2.5rem;
  font-weight: 800;
}
.job-page .grids .grid__view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
.job-page .grids .grid__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 6px;
  color: hsl(214, 70%, 25%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.job-page .grids .grid__item__name {
  font-size: 1.6rem;
  font-weight: 700;
}
.job-page .grids .grid__item__desc {
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .job-page__name {
    font-size: 2.3rem;
  }
  .program__name {
    font-size: 1rem !important;
  }
  .grid h2 {
    font-size: 1.8rem !important;
  }
  .grid__view {
    display: flex !important;
    flex-direction: column !important;
  }
}
@media screen and (max-width: 480px) {
  .program__name {
    font-size: 0.9rem !important;
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 1400px;
  margin-block: 128px 96px;
  margin-inline: auto;
}
.jobs__header {
  padding: 4px 16px;
  border-bottom: 2px solid hsl(214, 100%, 80%);
  color: hsl(214, 70%, 35%);
  text-align: center;
}
.jobs__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.jobs .job {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 6px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.jobs .job__main {
  display: flex;
  align-items: center;
  gap: 16px;
  z-index: 3;
  padding: 32px 64px 32px 32px;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  color: hsl(214, 70%, 25%);
  cursor: pointer;
}
.jobs .job__sub {
  display: flex;
  flex-direction: column;
  gap: 32px;
  opacity: 1;
  z-index: 1;
  position: relative;
  top: -8px;
  padding: 40px 32px 48px 32px;
  transition: all 0.1s ease-in-out;
}
.jobs .job__more {
  width: 100%;
  padding: 24px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(214, 85%, 50%);
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.jobs .job__more:hover {
  background-color: hsl(214, 90%, 55%);
}
.jobs .job__icon {
  font-size: 1.6rem;
}
.jobs .job__name {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.jobs .job__name::before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0%;
  height: 4px;
  border-radius: 3px;
  background-color: hsl(214, 70%, 25%);
  transition: all 0.1s ease-in-out;
}
.jobs .job__name:hover::before {
  width: 100%;
}
.jobs .job__toggle {
  position: absolute;
  right: 36px;
  top: 36px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.jobs .job__desc {
  grid-column: span 3;
  font-size: 1.2rem;
}
.jobs .job__infos {
  display: flex;
  gap: 64px;
}
.jobs .job__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 32px;
}
.jobs .job__info__header {
  font-size: 1.5rem;
  font-weight: 600;
}
.jobs .job__info__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.jobs .job__item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
}
.jobs .job__item__decorator {
  width: 16px;
  height: 16px;
  border: 3px solid hsl(214, 95%, 60%);
  border-radius: 50%;
}
.jobs .job .programs__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.jobs .job .programs__list .program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}
.jobs .job .programs__list .program:hover > .program__content > .program__name {
  color: hsl(214, 90%, 55%);
}
.jobs .job .programs__list .program__content {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-inline: 12px;
}
.jobs .job .programs__list .program__name {
  color: hsl(214, 70%, 25%);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}
.jobs .job .programs__list .program__progress {
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: hsl(214, 100%, 80%);
}
.jobs .job .programs__list .program__progress span {
  height: 100%;
  border-radius: 3px;
  background-color: hsl(214, 90%, 55%);
}
.jobs .job .programs__list .program__comp {
  color: hsl(214, 70%, 25%);
  font-weight: 600;
  font-size: 0.8rem;
}

@media screen and (max-width: 1512px) {
  .jobs {
    padding-inline: 32px 48px;
  }
}
@media screen and (max-width: 1156px) {
  .jobs .job__infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .jobs .job__programs {
    grid-column: span 2;
  }
}
@media screen and (max-width: 768px) {
  .jobs {
    padding-inline: 24px 32px;
  }
  .jobs__header {
    font-size: 1.5rem;
  }
  .jobs .job__name {
    font-size: 1.2rem;
  }
  .jobs .job__toggle {
    top: 32px;
    right: 32px;
    font-size: 1.3rem;
  }
  .jobs .job__infos {
    grid-template-columns: 1fr;
  }
  .jobs .job__infos .job__programs {
    grid-column: span 1;
  }
}
@media screen and (max-width: 480px) {
  .jobs .job__name {
    font-size: 1rem;
  }
  .jobs .program__name {
    font-size: 0.9rem !important;
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100vw;
  height: 100dvh;
  background-color: hsl(214, 100%, 95%);
  animation: fade_in 0.15s forwards ease-in-out;
}
.login__welcome {
  width: 320px;
  padding: 16px;
  border-radius: 6px;
  color: hsl(214, 75%, 40%);
  background-color: hsl(214, 100%, 90%);
  text-align: center;
  font-weight: 600;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  overflow: hidden;
  position: relative;
  width: 512px;
  height: 800px;
  padding-top: 64px;
  border-radius: 12px;
  color: hsl(214, 70%, 35%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 35px rgba(25, 65, 133, 0.1098039216);
}
.login__logo {
  width: 480px;
  height: 348px;
}
.login__inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login__inputs .login__input {
  position: relative;
}
.login__inputs .fa-envelope, .login__inputs .fa-key {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.1rem;
}
.login__inputs input {
  display: block;
  width: 320px;
  padding: 12px 16px 12px 40px;
  border-radius: 6px;
  color: hsl(214, 70%, 35%);
  background-color: hsl(214, 100%, 95%);
  border: 3px solid hsl(214, 100%, 90%);
  cursor: text;
  transition: all 0.1s ease-in-out;
}
.login__inputs input::-moz-placeholder {
  color: #a8c7f0;
}
.login__inputs input::placeholder {
  color: #a8c7f0;
}
.login__inputs input:focus, .login__inputs input:hover {
  background-color: hsl(214, 100%, 90%);
}
.login__navigate {
  width: 320px;
  color: hsl(0, 0%, 60%);
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.login__navigate:hover {
  color: hsl(214, 70%, 35%);
}
.login__auth {
  width: 320px;
  padding: 12px 16px;
  border-radius: 6px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(214, 80%, 45%);
  font-size: 1.2rem;
  transition: all 0.1s ease-in-out;
}
.login__auth:hover {
  background-color: hsl(214, 85%, 50%);
}
.login__coa {
  display: none;
  position: absolute;
  bottom: -80px;
  right: -40px;
  filter: drop-shadow(0px 0px 5px rgba(25, 65, 133, 0.0941176471));
}

@media screen and (max-width: 1200px) {
  .login__logo {
    display: none;
  }
  .login__coa {
    display: block;
  }
}
@media screen and (max-width: 540px) {
  .login__form {
    width: 100dvw;
    height: 100dvh;
    padding-inline: 32px;
    border-radius: 0px;
  }
  .login__inputs {
    justify-content: center;
    width: 100%;
  }
  .login__inputs__program {
    width: 100%;
  }
  .login__inputs input {
    width: 100%;
  }
  .login__auth, .login__welcome {
    width: 100%;
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 96px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.08);
}
.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 91.66%;
}
.navbar__logo {
  max-width: 216px;
  transition: all 0.1s ease-in-out;
}
.navbar__logo:hover {
  filter: drop-shadow(0px 0px 3px rgba(128, 175, 255, 0.1647058824));
}
.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
  font-weight: 600;
}
.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 16px;
  border-radius: 3px;
  color: hsl(214, 70%, 25%);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.navbar__link:hover {
  color: hsl(214, 100%, 95%);
  background-color: hsl(214, 70%, 25%);
}

@media screen and (max-width: 1200px) {
  .navbar {
    justify-content: space-between;
    padding-inline: 24px 32px;
  }
  .navbar__burger {
    padding: 12px;
    border-radius: 6px;
    color: hsl(214, 70%, 25%);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  .navbar__burger:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(214, 70%, 25%);
  }
  .navbar__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    position: fixed;
    top: 96px;
    right: 0px;
    height: 100vh;
    padding: 16px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: -25px 30px 15px rgba(0, 0, 0, 0.03);
    transition: all 0.1s ease-in-out;
  }
  .navbar__links .navbar__link {
    width: 100%;
    justify-content: flex-start;
  }
  .navbar__links .navbar__link svg {
    width: 24px;
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.profile {
  display: grid;
  grid-template-columns: 256px auto;
  gap: 16px;
  width: 75%;
  margin-block: 128px 96px;
  margin-inline: auto;
}
.profile__lc, .profile__rc {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.profile__box {
  padding: 16px;
  border-radius: 6px;
  color: hsl(214, 70%, 25%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.profile__picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 256px;
  height: 316px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.profile__picture--alt {
  padding: 16px;
}
.profile__picture--alt .fa-circle-question {
  font-size: 4rem;
}
.profile__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.profile__chat {
  color: hsl(0, 0%, 100%);
  background-color: hsl(214, 80%, 45%);
}
.profile__chat:hover {
  background-color: hsl(214, 90%, 55%);
}
.profile__logout {
  color: hsl(0, 0%, 100%);
  background-color: #D92D20;
}
.profile__logout:hover {
  background-color: #F04438;
}
.profile__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.profile__info > * {
  display: flex;
  flex-direction: column;
}
.profile__info > * .label {
  font-weight: 600;
}
.profile__data {
  height: -moz-fit-content;
  height: fit-content;
}
.profile__name {
  font-size: 1.8rem;
  font-weight: 700;
}
.profile__program {
  color: hsl(214, 85%, 50%);
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.profile__program:hover {
  color: hsl(214, 100%, 70%);
}
.profile__job {
  color: hsl(214, 90%, 55%);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.profile__job:hover {
  color: hsl(214, 100%, 80%);
}
.profile__bio {
  margin-top: 16px;
}
.profile .activities {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.profile .activities__header {
  font-size: 1.8rem;
  font-weight: 700;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.program-page {
  position: relative;
  max-width: 1200px;
  margin-block: 128px 96px;
  margin-inline: auto;
  padding-inline: 32px 48px;
}
.program-page__hero {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}
.program-page__content {
  display: flex;
  flex-direction: column;
}
.program-page__name {
  color: hsl(214, 70%, 35%);
  font-size: 3rem;
}
.program-page__duration {
  margin-bottom: 24px;
  color: hsl(214, 70%, 35%);
  font-size: 1.3rem;
  font-weight: 600;
}
.program-page__duration .hl-blue {
  color: hsl(214, 90%, 55%);
}
.program-page__desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: hsl(214, 70%, 25%);
  text-align: justify;
}
.program-page__header {
  padding: 4px 16px;
  border-bottom: 2px solid hsl(214, 100%, 80%);
  color: hsl(214, 70%, 35%);
  text-align: center;
}
.program-page__label {
  margin-bottom: 8px;
}
.program-page__semester {
  margin-block: 32px;
  color: hsl(214, 70%, 35%);
  font-size: 2rem;
}
.program-page__courses {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.program-page__jobs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-block: 24px 48px;
}
.program-page .job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}
.program-page .job:hover > .program__content > .program__name {
  color: hsl(214, 90%, 55%);
}
.program-page .job__content {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-inline: 12px;
}
.program-page .job__name {
  color: hsl(214, 70%, 25%);
  font-size: 1.3rem;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}
.program-page .job__progress {
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: hsl(214, 100%, 80%);
}
.program-page .job__progress span {
  height: 100%;
  border-radius: 3px;
  background-color: hsl(214, 90%, 55%);
}
.program-page .job__comp {
  width: 40px;
  color: hsl(214, 70%, 25%);
  font-weight: 600;
  font-size: 1.2rem;
}
.program-page .course {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 6px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.program-page .course--optional {
  background-color: hsl(214, 100%, 90%);
}
.program-page .course__main {
  display: flex;
  align-items: center;
  gap: 16px;
  z-index: 3;
  padding: 32px 64px 32px 32px;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  color: hsl(214, 70%, 25%);
  cursor: pointer;
}
.program-page .course__sub {
  display: flex;
  flex-direction: column;
  gap: 32px;
  opacity: 1;
  z-index: 1;
  position: relative;
  top: -8px;
  padding: 40px 32px 48px 32px;
  transition: all 0.1s ease-in-out;
}
.program-page .course__name {
  position: relative;
  font-size: 1.3rem;
  font-weight: 700;
}
.program-page .course__rate {
  position: absolute;
  right: 88px;
  top: 26px;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.program-page .course__rate:hover {
  color: hsl(214, 90%, 55%);
}
.program-page .course__toggle {
  position: absolute;
  right: 26px;
  top: 26px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.program-page .course__desc {
  grid-column: span 3;
  font-size: 1.2rem;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.programs {
  max-width: 1200px;
  margin-block: 128px 96px;
  margin-inline: auto;
}
.programs__header {
  padding: 4px 16px;
  margin-bottom: 32px;
  border-bottom: 2px solid hsl(214, 100%, 80%);
  color: hsl(214, 70%, 35%);
  text-align: center;
}
.programs__subheader {
  margin-bottom: 32px;
  color: hsl(214, 70%, 35%);
  text-align: center;
}
.programs__info {
  display: flex;
  align-items: center;
  padding: 32px;
  margin-bottom: 64px;
  border-radius: 12px;
  background-color: hsl(214, 100%, 90%);
}
.programs__info__title {
  margin-bottom: 16px;
  font-size: 3rem;
}
.programs__info__title .blue {
  color: hsl(214, 85%, 50%);
}
.programs__info__title .purple {
  color: #7F56D9;
}
.programs__info__text {
  color: hsl(214, 70%, 35%);
  font-size: 1.5rem;
}
.programs__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.programs .info {
  display: flex;
  gap: 24px;
  padding: 32px;
  border-radius: 12px;
}
.programs .info:nth-child(odd) {
  padding-right: 128px;
  border-top-right-radius: 192px;
  border-bottom-right-radius: 192px;
  color: #30235c;
  background-color: #E9D7FE;
  box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.1);
}
.programs .info:nth-child(odd) .info__cta {
  color: #42307D;
  border-color: #42307D;
}
.programs .info:nth-child(even) {
  flex-direction: row-reverse;
  padding-left: 128px;
  border-top-left-radius: 192px;
  border-bottom-left-radius: 192px;
  color: hsl(214, 70%, 25%);
  background-color: hsl(214, 100%, 90%);
  box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.1);
}
.programs .info:nth-child(even) .info__cta {
  color: hsl(214, 70%, 35%);
  border-color: hsl(214, 70%, 35%);
}
.programs .info__art {
  max-width: 312px;
}
.programs .info__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.programs .info__name {
  font-size: 2rem;
}
.programs .info__desc {
  font-size: 1.2rem;
}
.programs .info__cta {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border: 2px solid #000000;
  border-radius: 6px;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}
.programs .info__cta:hover {
  gap: 24px;
}

@media screen and (max-width: 1200px) {
  .programs__info {
    border-radius: 0;
  }
  .programs .info {
    padding: 32px !important;
    border-radius: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .info {
    flex-direction: column !important;
  }
  .info__art {
    align-self: flex-end;
  }
}
@media screen and (max-width: 420px) {
  .info__art {
    align-self: center;
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100dvh;
  background-color: hsl(214, 100%, 95%);
  animation: fade_in 0.15s forwards ease-in-out;
}
.register__welcome {
  width: 360px;
  padding: 16px;
  border-radius: 6px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}
.register__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  overflow: hidden;
  position: relative;
  width: 520px;
  height: 800px;
  padding-top: 64px;
  border-radius: 12px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 35px rgba(25, 65, 133, 0.2392156863);
}
.register #guest {
  z-index: 3;
  margin-top: 24px;
  margin-right: -16px;
  color: hsl(214, 100%, 90%);
  background-color: hsl(220, 40%, 15%);
}
.register #guest .register__welcome {
  color: hsl(214, 100%, 90%);
  background-color: hsl(220, 40%, 30%);
}
.register #guest input {
  color: hsl(214, 100%, 90%);
  background-color: hsl(220, 40%, 25%);
  border: 3px solid hsl(220, 40%, 35%);
}
.register #guest input::-moz-placeholder {
  color: #708bc2;
}
.register #guest input::placeholder {
  color: #708bc2;
}
.register #guest input:focus, .register #guest input:hover {
  background-color: hsl(220, 40%, 35%);
}
.register #guest .register__navigate:hover {
  color: hsl(0, 0%, 72%);
}
.register #academic {
  z-index: 2;
  margin-top: -24px;
  margin-left: -16px;
  color: hsl(214, 70%, 35%);
}
.register #academic .register__welcome {
  color: hsl(214, 75%, 40%);
  background-color: hsl(214, 100%, 90%);
}
.register__inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.register__inputs .register__input {
  position: relative;
}
.register__inputs .fa-user,
.register__inputs .fa-envelope,
.register__inputs .fa-key,
.register__inputs .fa-address-card,
.register__inputs .fa-graduation-cap,
.register__inputs .fa-chevron-down {
  z-index: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.1rem;
}
.register__inputs .fa-chevron-down {
  z-index: 5;
  left: initial;
  right: 16px;
}
.register__inputs .fa-graduation-cap {
  z-index: 4;
}
.register__inputs input, .register__inputs__program {
  display: block;
  width: 360px;
  padding: 12px 16px 12px 40px;
  border-radius: 6px;
  color: hsl(214, 70%, 35%);
  background-color: hsl(214, 100%, 95%);
  border: 3px solid hsl(214, 100%, 90%);
  cursor: text;
  transition: all 0.1s ease-in-out;
}
.register__inputs input::-moz-placeholder, .register__inputs__program::-moz-placeholder {
  color: #7dabe8;
}
.register__inputs input::placeholder, .register__inputs__program::placeholder {
  color: #7dabe8;
}
.register__inputs input:focus, .register__inputs input:hover, .register__inputs__program:focus, .register__inputs__program:hover {
  background-color: hsl(214, 100%, 90%);
}
.register__inputs__program {
  position: relative;
  z-index: 3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.register .program__list {
  z-index: 2;
  position: absolute;
  top: 24px;
  width: 100%;
  padding-top: 20px;
  color: hsl(214, 70%, 35%);
  background-color: hsl(214, 100%, 95%);
  border: 3px solid hsl(214, 100%, 90%);
  border-radius: 6px;
}
.register .program__list .program {
  padding: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.register .program__list .program:hover, .register .program__list .program--selected {
  background-color: hsl(214, 100%, 90%);
}
.register__navigate {
  width: 360px;
  color: hsl(0, 0%, 60%);
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.register__navigate:hover {
  color: hsl(214, 70%, 35%);
}
.register__auth {
  width: 360px;
  padding: 12px 16px;
  border-radius: 6px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(214, 80%, 45%);
  font-size: 1.2rem;
  transition: all 0.1s ease-in-out;
}
.register__auth:hover {
  background-color: hsl(214, 85%, 50%);
}
.register__coa {
  z-index: -1;
  position: absolute;
  bottom: -80px;
  right: -40px;
  filter: drop-shadow(0px 0px 5px rgba(25, 65, 133, 0.0941176471));
}
.register__indicator {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: none;
  width: 160px;
  margin-top: auto;
  margin-bottom: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.register__indicator:hover {
  color: hsl(214, 100%, 80%);
}
.register__indicator .fa-circle-down {
  font-size: 3rem;
}

@media screen and (max-width: 1100px) {
  .register {
    flex-direction: column;
    gap: 16px;
    padding-block: 32px;
  }
  .register #academic, .register #guest {
    margin: auto;
  }
  .register__indicator {
    display: flex;
  }
}
@media screen and (max-width: 540px) {
  .register {
    padding-block: 0px;
    gap: 0px;
  }
  .register__form {
    width: 100dvw;
    height: 100dvh;
    padding-inline: 32px;
    border-radius: 0px;
  }
  .register__inputs {
    justify-content: center;
    width: 100%;
  }
  .register__inputs__program {
    width: 100%;
  }
  .register__inputs input {
    width: 100%;
  }
  .register__auth, .register__welcome {
    width: 100%;
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.rate {
  overflow: hidden;
  position: relative;
  width: 520px;
  height: 800px;
  padding: 64px 24px 24px 24px;
  border-radius: 12px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 35px rgba(25, 65, 133, 0.2392156863);
}
.rate__header {
  margin-bottom: 48px;
  color: hsl(214, 70%, 35%);
  font-size: 2.3rem;
  text-align: center;
}
.rate__inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.rate__input {
  position: relative;
  width: 100%;
}
.rate__input input {
  cursor: text;
}
.rate__input__selected {
  margin-left: 48px;
}
.rate__input__course {
  display: block;
  padding: 12px 16px 12px 0px;
  border-radius: 6px;
  color: hsl(214, 70%, 35%);
  background-color: hsl(214, 100%, 95%);
  border: 3px solid hsl(214, 100%, 90%);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.rate__input__course::-moz-placeholder {
  color: #7dabe8;
}
.rate__input__course::placeholder {
  color: #7dabe8;
}
.rate .fa-briefcase,
.rate .fa-newspaper {
  z-index: 4;
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 1.1rem;
}
.rate .fa-chevron-down {
  z-index: 5;
  position: absolute;
  top: 12px;
  right: 16px;
}
.rate .course, .rate .job {
  position: relative;
  z-index: 3;
  padding: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.rate .course:hover, .rate .job:hover {
  background-color: hsl(214, 100%, 80%);
}
.rate .course--selected, .rate .job--selected {
  background-color: hsl(214, 100%, 80%);
}
.rate .course__list, .rate .job__list {
  display: flex;
  flex-direction: column;
  z-index: 10;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  max-height: 300px;
  margin-top: 12px;
  background-color: hsl(214, 100%, 95%);
}
.rate__stars {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.rate__star {
  color: hsl(214, 85%, 50%);
  font-size: 2.3rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.rate__star:hover {
  transform: scale(1.03);
}
.rate__btn {
  width: 100%;
  margin-top: 32px;
  padding: 12px;
  border-radius: 3px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(214, 95%, 60%);
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.rate__btn--disabled {
  background-color: hsl(214, 100%, 80%);
  cursor: not-allowed;
}
.rate__btn--disabled:hover {
  background-color: hsl(214, 100%, 80%) !important;
}
.rate__btn:hover {
  background-color: hsl(214, 100%, 70%);
}
.rate__coa {
  z-index: 0;
  position: absolute;
  bottom: -80px;
  right: -40px;
  filter: drop-shadow(0px 0px 5px rgba(25, 65, 133, 0.0941176471));
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/***************************************************************************************************************/
/* global styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Montserrat", "Oxygen", "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

input, button {
  color: inherit;
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 85%);
}

body::-webkit-scrollbar-thumb {
  background-color: hsl(214, 70%, 25%);
}

/***************************************************************************************************************/
/* app */
#root {
  overflow-x: hidden;
}

.app {
  position: relative;
  width: 100dvw;
  min-height: 100dvh;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: hsl(214, 100%, 98%);
  animation: ease-in-out 1s forwards fade_in;
}

.text--hl {
  color: hsl(214, 80%, 45%);
  font-weight: 600;
}

.modal-bg {
  display: grid;
  place-items: center;
  z-index: 10;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=app.css.map */