@import '../../css/variables.scss';

.home
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  max-width: 1400px;
  margin-inline: auto;
  margin-block: 128px 96px;
  padding-inline: 48px;

  
  &__main
  {
    align-self: center;

    display: flex;
    flex-direction: column;
    gap: 24px;

    &__header
    {
      color: $blue-600;
      font-size: 3rem;
    }

    &__desc
    {
      color: $blue-1000;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  &__about
  {
    grid-column: span 2;
    display: flex;
    gap: 24px;

    padding: 24px 96px 24px 24px;
    border-radius: 128px;

    background-color: $blue-100;

    &__header
    {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 16px 32px;
      border-top-left-radius: 88px;
      border-bottom-left-radius: 88px;
      
      color: $blue-600;
      background-color: $white-light;
      box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);

      font-size: 2.5rem;
    }

    &__text
    { font-size: 1.5rem }
  }

  &__header
  {
    grid-column: span 2;

    padding-bottom: 8px;
    margin-top: 32px;
    border-bottom: 3px solid $blue-900;
    border-radius: $br-s;

    color: $blue-900;

    text-align: center;
  }

  &__cards
  {
    grid-column: span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    .card
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;

      width: 304px;
      padding: 16px;
      border-radius: $br-m;

      color: $white-light;
      background-color: $blue-900;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

      text-align: center;
      cursor: pointer;
      @include transition;

      &:hover
      { background-color: $blue-800 }

      &__icon
      { font-size: 4rem }

      &__header
      {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 1200px) 
{
  .home
  {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__art
    {
      max-width: 480px;
    }
  }  
}

@media screen and (max-width: 768px)
{
  .home
  {
    &__about
    {
      flex-direction: column;
      align-items: center;
      padding: 32px 32px 96px 32px;

      &__header
      {
        width: 100%;
        border-radius: 88px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 480px)
{
  .home
  {
    padding: 32px;

    &__main__header
    { font-size: 2rem }

    &__main__desc
    { font-size: 1.2rem }

    &__art
    { max-width: 320px }
  }
}