@import '../../css/variables.scss';

.form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 580px;
  margin-inline: auto;

  &__affirmations
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    .affirmation
    {
      display: flex;
      flex-direction: column;
      gap: 16px;
      
      padding: 16px;
      border-bottom: 2px solid $blue-200;
      
      text-align: center;

      &__header
      {
        font-size: 1.5rem;
        font-weight: 500;

        color: $blue-900;
      }

      &__content
      { 
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 1fr;
        gap: 8px;
      }

      &__label
      {
        display: grid;
        min-width: 128px;
        
        font-size: 1.2rem;
        font-weight: 600;

        &--negative
        { 
          grid-column: 1;
          grid-row: 1;
          
          place-items: center left;
          color: $red-500; 
          text-align: left;
        }

        &--positive
        { 
          grid-column: 3;
          grid-row: 1;
          
          place-items: center right;
          color: $green-500; 
          text-align: right;
        }
      }

      &__options
      {
        grid-column: 2;

        display: flex;
        justify-content: center;
        gap: 8px;

        .option
        {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 4px solid #00000000;

          cursor: pointer;
          @include transition;

          &:hover
          { border-width: 10px }

          &--selected
          { 
            border-width: 16px;

            &:hover
            { border-width: 16px }
          }

          &--n1
          { border-color: $red-300 }

          &--n2
          { border-color: $red-400 }

          &--n3
          { border-color: $red-500 }
          
          &--neutral
          { border-color: $blue-200 }

          &--p1
          { border-color: $green-300 }

          &--p2
          { border-color: $green-400 }

          &--p3
          { border-color: $green-500 }
        }
      }
    }
  }

  &__submit
  {
    width: 100%;
    padding: 8px;
    margin-top: 24px;
    border-radius: $br-s;
    
    background-color: $blue-600;
    color: $white-light;

    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;

    cursor: pointer;
    user-select: none;
    @include transition;

    &:hover
    { background-color: $blue-700 }
  }
}

// fazer responsivo