@import '../../css/variables.scss';

.program {
  max-width: 1200px;
  margin-block: 128px 96px;
  margin-inline: auto;
  padding-inline: 32px 48px;

  &__hero {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: $blue-900;
    font-size: 3rem;
  }

  &__duration {
    margin-bottom: 24px;
    color: $blue-900;
    font-size: 1.3rem;
    font-weight: 600;

    .hl-blue 
    { color: $blue-500 }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: $blue-1000;
    text-align: justify;
  }

  &__header
  {
    padding: 4px 16px;
    border-bottom: 2px solid $blue-200;
    color: $blue-900;
    text-align: center;
  }

  &__label 
  { margin-bottom: 8px }

  &__semester {
    margin-block: 32px;
    color: $blue-900;
    font-size: 2rem;
  }

  &__courses {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .course
  {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    position: relative;
    height: fit-content;
    border-radius: $br-m;

    background-color: $white-light;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    &--optional
    { background-color: $blue-100 }

    &__main
    {
      display: flex;
      align-items: center;
      gap: 16px;

      z-index: 3;
      padding: 32px 64px 32px 32px;
      border-radius: $br-m;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      
      color: $blue-1000;

      cursor: pointer;
    }

    &__sub
    {
      display: flex;
      flex-direction: column;
      gap: 32px;
      
      opacity: 1;
      z-index: 1;
      position: relative;
      top: -8px;
      padding: 40px 32px 48px 32px;

      @include transition;
    }

    &__name
    {
      position: relative;

      font-size: 1.3rem;
      font-weight: 700;
    }

    &__toggle
    {
      position: absolute;
      right: 26px;
      top: 26px;

      font-size: 2rem;
      cursor: pointer;
      @include transition;
    }

    &__desc
    {
      grid-column: span 3;
      font-size: 1.2rem;
    }
  }
}