@import '../../css/variables.scss';

.programs
{
  max-width: 1200px;
  margin-block: 128px 96px;
  margin-inline: auto;

  &__header
  {
    padding: 4px 16px;
    margin-bottom: 32px;
    border-bottom: 2px solid $blue-200;

    color: $blue-900;
    text-align: center;
  }

  &__subheader
  {
    margin-bottom: 32px;

    color: $blue-900;
    text-align: center;
  }
  
  &__info
  {
    display: flex;
    align-items: center;

    padding: 32px;
    margin-bottom: 64px;
    border-radius: $br-g;

    background-color: $blue-100;

    &__title
    {
      margin-bottom: 16px;
      font-size: 3rem;
      
      .blue
      { color: $blue-600 }
    
      .purple
      { color: $purple-600 }
    }

    &__text
    { 
      color: $blue-900;
      font-size: 1.5rem; 
    }
  }

  &__list
  {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-bottom: 64px;
  }

  .info
  {
    display: flex;
    gap: 24px;

    padding: 32px;
    border-radius: $br-g;

    &:nth-child(odd)
    {    
      padding-right: 128px;  
      border-top-right-radius: 192px;
      border-bottom-right-radius: 192px;

      color: $purple-1000;
      background-color: $purple-200;
      box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.1);

      .info__cta
      {
        color: $purple-900;
        border-color: $purple-900;
      }
    }

    &:nth-child(even)
    {
      flex-direction: row-reverse;

      padding-left: 128px; 
      border-top-left-radius: 192px;
      border-bottom-left-radius: 192px;
      
      color: $blue-1000;
      background-color: $blue-100;
      box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.1);

      .info__cta
      {
        color: $blue-900;
        border-color: $blue-900;
      }
    }

    &__art
    { max-width: 312px }

    &__content
    {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    &__name
    { font-size: 2rem }

    &__desc
    { font-size: 1.2rem }

    &__cta
    {
      display: flex;
      align-items: center;
      gap: 8px;

      padding: 8px;
      border: 2px solid #000000;
      border-radius: $br-m;

      font-size: 1.5rem;
      font-weight: 600;

      @include transition;

      &:hover
      { gap: 24px }
    }
  }
}

@media screen and (max-width: 1200px)
{
  .programs
  {
    &__info
    { border-radius: 0 }

    .info
    { 
      padding: 32px !important;
      border-radius: 0 !important;
    }
  }
}

@media screen and (max-width: 768px)
{
  .info
  {
    flex-direction: column !important;

    &__art
    { align-self: flex-end }
  }
}

@media screen and (max-width: 420px)
{
  .info__art
  { align-self: center }
}