@import '../../css/variables.scss';

$wd: 320px;
$wm: 280px;

.login
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  width: 100vw;
  height: 100dvh;
  
  background-color: $blue-50;

  @include anim_fade_in;

  &__welcome
  {
    width: $wd;
    padding: 16px;
    border-radius: $br-m;

    color: $blue-800;
    background-color: $blue-100;

    text-align: center;
    font-weight: 600;
  }

  &__form
  {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;

    width: 512px;
    height: 800px;
    padding-top: 64px;
    border-radius: $br-g;

    color: $blue-900;
    background-color: $white-light;
    box-shadow: 0px 0px 35px #1941851c;
  }

  &__logo
  {
    width: 480px;
    height: 348px;
  }
  
  &__inputs
  {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    .login__input
    { position: relative }

    .fa-envelope, .fa-key
    {
      position: absolute;
      top: 16px;
      left: 16px;

      font-size: 1.1rem;
    }

    input
    {
      display: block;

      width: $wd;
      padding: 12px 16px 12px 40px;
      border-radius: $br-m;

      color: $blue-900;
      background-color: $blue-50;
      border: 3px solid $blue-100;

      cursor: text;
      @include transition;

      &::placeholder
      { color: lighten($blue-900, 45%); }

      &:focus, &:hover
      { background-color: $blue-100; }
    }
  }

  &__navigate
  {
    width: $wd;

    color: $grey-dark;

    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    @include transition;
    

    &:hover
    { color: $blue-900; }
  }

  &__auth
  {
    width: $wd;
    padding: 12px 16px;
    border-radius: $br-m;

    color: $white-light;
    background-color: $blue-700;

    font-size: 1.2rem;

    @include transition;

    &:hover
    { background-color: $blue-600; }
  }

  &__background
  {
    display: grid;
    place-items: center;

    width: calc(100% - $menu-w);
    height: 100dvh;
  }
}

@media screen and (max-width: 720px) 
{
  .login__form
  { width: 100vw; }

  .login__background
  { display: none; }

  .login input,
  .login__logo,
  .login__auth, 
  .login__navigate
  { max-width: $wm; }
}