@import '../../css/variables.scss';

.jobs
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  width: $w8;
  margin-top: 128px;
  margin-inline: auto;

  &__header
  {
    padding: 4px 16px;
    border-bottom: 2px solid $blue-200;
    color: $blue-900;
  }

  &__list
  {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  .job
  {
    display: flex;
    flex-direction: column;
    gap: 16px;

    position: relative;
    padding: 32px;
    border-radius: $br-m;

    background-color: $white-light;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    &__sub
    {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 32px;
    }

    &__name
    {
      color: $blue-1000;
      font-size: 2rem;
      font-weight: 700;
    }

    .fa-chevron-down
    {
      position: absolute;
      right: 32px;
      top: 32px;

      font-size: 2rem;
    }

    &__desc
    {
      grid-column: span 3;
      margin-bottom: 24px;
      font-size: 1.2rem;
    }

    &__info__header
    {
      margin-bottom: 20px;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .programs
    {
      &__list
      {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .program
        {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 8px;

          &__name
          {
            max-width: 284px;
            font-size: 1.4rem;
            font-weight: 600;
          }

          &__progress
          {
            display: grid;
            place-items: center;

            width: 100%;
            height: 4px;
            border-radius: 3px;

            background: conic-gradient($blue-400 180deg, $blue-200 0deg);
          }

          &__comp
          {
            span
            {
              display: grid;
              place-items: center;

              width: 32px;
              height: 32px;
              border-radius: 24px;

              color: $blue-1000;
              background-color: $white-light;

              font-weight: 600;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}