@import "../../../css/variables";

.rate {
  overflow: hidden;
  position: relative;
  width: 520px;
  height: 800px;
  padding: 64px 24px 24px 24px;
  border-radius: $br-g;

  background-color: $white-light;
  box-shadow: 0px 0px 35px #1941853d;

  &__header 
  {
    margin-bottom: 48px;
    color: $blue-900;
    font-size: 2.3rem;
    text-align: center;
  }

  &__inputs
  {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input
  { 
    position: relative;
    width: 100%;

    input 
    { cursor: text; }

    &__selected 
    { margin-left: 48px; }

    &__course
    {
      display: block;
      padding: 12px 16px 12px 0px;
      border-radius: $br-m;
  
      color: $blue-900;
      background-color: $blue-50;
      border: 3px solid $blue-100;
  
      cursor: pointer;
      @include transition;
  
      &::placeholder
      { color: lighten($blue-900, 35%); }
    }
  }

  .fa-graduation-cap
  {
    z-index: 4;
    position: absolute;
    top: 12px;
    left: 16px;

    font-size: 1.1rem;
  }

  .fa-chevron-down
  {
    z-index: 5;
    position: absolute;
    top: 12px;
    right: 16px;
  }

  .course, .job
  { 
    position: relative;
    z-index: 3;
    padding: 12px;

    user-select: none;
    cursor: pointer;

    &:hover 
    { background-color: $blue-200; }

    &--selected {
      background-color: $blue-200;
    }

    &__list 
    {
      display: flex;
      flex-direction: column;

      z-index: 10;
      overflow-y: scroll;
      position: absolute;
      width: 100%;
      max-height: 300px;
      margin-top: 12px;

      background-color: $blue-50;
    }
  }

  &__stars
  {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  &__star {
    color: $blue-600;
    font-size: 2.3rem;
    cursor: pointer;
    @include transition;

    &:hover
    { transform: scale(1.03); }
  }

  &__btn 
  {
    width: 100%;
    margin-top: 32px;
    padding: 12px;
    border-radius: $br-s;

    color: $white-light;
    background-color: $blue-400;

    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;

    user-select: none;
    cursor: pointer;
    @include transition;

    &--disabled { 
      background-color: $blue-200;
      cursor: not-allowed;
      
      &:hover
      { background-color: $blue-200 !important; }
    }

    &:hover 
    { background-color: $blue-300; }
  }

  &__coa
  {
    z-index: 0;
    position: absolute;
    bottom: -80px;
    right: -40px;

    filter: drop-shadow(0px 0px 5px #19418518);
  }
}