@import '../../css/variables.scss';

$wd: 360px;
$wm: 280px;

.register
{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  min-height: 100dvh;
  
  background-color: $blue-50;

  @include anim_fade_in;

  &__welcome
  {
    width: $wd;
    padding: 16px;
    border-radius: $br-m;

    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__form
  {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;

    overflow: hidden;
    position: relative;
    width: 520px;
    height: 800px;
    padding-top: 64px;
    border-radius: $br-g;

    background-color: $white-light;
    box-shadow: 0px 0px 35px #1941853d;
  }

  #guest
  { 
    z-index: 3;

    margin-top: 24px;
    margin-right: -16px; 

    color: $blue-100;
    background-color: $bg-blue-dim;

    .register__welcome
    {
      color: $blue-100;
      background-color: $bg-blue-light;
    }

    input
    {
      color: $blue-100;
      background-color: $bg-blue-mid-light;
      border: 3px solid $bg-blue-bright;

      &::placeholder
      { color: lighten($bg-blue-light, 30%); }

      &:focus, &:hover
      { background-color: $bg-blue-bright; }
    }

    .register__navigate:hover
    { color: $grey-light; }
  }

  #academic
  { 
    z-index: 2;

    margin-top: -24px;
    margin-left: -16px;

    color: $blue-900;

    .register__welcome
    {
      color: $blue-800;
      background-color: $blue-100;
    }
  }
  
  &__inputs
  {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    .register__input
    { position: relative }

    .fa-user,
    .fa-envelope, 
    .fa-key, 
    .fa-address-card,
    .fa-graduation-cap,
    .fa-chevron-down
    {
      z-index: 1;
      position: absolute;
      top: 16px;
      left: 16px;

      font-size: 1.1rem;
    }

    .fa-chevron-down
    {
      z-index: 5;
      left: initial;
      right: 16px;
    }

    .fa-graduation-cap
    { z-index: 4; }

    input, &__program
    {
      display: block;

      width: $wd;
      padding: 12px 16px 12px 40px;
      border-radius: $br-m;

      color: $blue-900;
      background-color: $blue-50;
      border: 3px solid $blue-100;

      cursor: text;
      @include transition;

      &::placeholder
      { color: lighten($blue-900, 35%); }

      &:focus, &:hover
      { background-color: $blue-100; }
    }

    &__program
    { 
      position: relative;
      z-index: 3;
      user-select: none;
      cursor: pointer;
    }
  }

  .program__list
  {
    z-index: 2;
    position: absolute;
    top: 24px;
    width: 100%;
    padding-top: 20px;

    color: $blue-900;
    background-color: $blue-50;
    border: 3px solid $blue-100;
    border-radius: $br-m;

    .program
    {
      padding: 16px;

      user-select: none;
      cursor: pointer;
      @include transition;

      &:hover, &--selected
      { background-color: $blue-100 }
    }
  }

  &__navigate
  {
    width: $wd;

    color: $grey-dark;

    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    @include transition;
    

    &:hover
    { color: $blue-900; }
  }

  &__auth
  {
    width: $wd;
    padding: 12px 16px;
    border-radius: $br-m;

    color: $white-light;
    background-color: $blue-700;

    font-size: 1.2rem;

    @include transition;

    &:hover
    { background-color: $blue-600; }
  }

  &__coa
  {
    z-index: -1;
    position: absolute;
    bottom: -80px;
    right: -40px;

    filter: drop-shadow(0px 0px 5px #19418518);
  }

  &__indicator
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    display: none;
    width: 160px;
    margin-top: auto;
    margin-bottom: 32px;

    text-align: center;
    cursor: pointer;
    @include transition;

    &:hover
    { color: $blue-200 }

    .fa-circle-down
    { font-size: 3rem; }
  }
}

@media screen and (max-width: 1100px) 
{
  .register
  {
    flex-direction: column;
    gap: 16px;
    padding-block: 32px;

    #academic, #guest
    { margin: auto }

    &__indicator
    { display: flex }
  }
}

@media screen and (max-width: 540px) 
{
  .register
  {
    padding-block: 0px;
    gap: 0px;

    &__form
    {
      width: 100dvw;
      height: 100dvh;
      padding-inline: 32px;
      border-radius: 0px;
    } 

    &__inputs
    {
      justify-content: center;
      width: 100%;

      &__program
      { width: 100% }

      input
      { width: 100% }
    }

    &__auth, &__welcome
    { width: 100%; }
  }
}